/* Regole generali della pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.blue-button {
    background-color: dodgerblue;
    color: white;
    padding: 7px 12px;
    text-align: center;
}

.white-button {
    background-color: white;
    color: grey;
    padding: 7px 10px;
    text-align: center;
}

.grey-button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    padding: 7px 0px;
    text-align: center;
}

.blue-button:hover {
    box-shadow: 5px 5px rgb(29, 112, 195);
    cursor: pointer;
}

.grey-button:hover {
    box-shadow: 5px 5px dimgrey;
    cursor: pointer;
}

.white-button:hover {
    box-shadow: 5px 5px dimgrey;
    cursor: pointer;
}

ul a {
    text-decoration: none;
    color: dimgrey;
}

p {
    color: dimgrey;
}

/* Vista la numerosa presenza di item con width 50% inserisco questa semplice classe che potrebbe tornarmi utile in alcune situazioni */
.meta {
    width: 50%;
}

/* Inserisco lo stile dell'header */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 13px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    margin: 0 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
}

.menu > li:hover {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: solid 3px black;
    transition: all 0.2s linear;
}

#droplogo {
    width: 100px;
    height: auto;
}

/* Inserisco lo stile per il dropdown */

.menu li:hover .dropdown > li{
    display: block;
    top: 0;
}

.dropdown li{
    text-align: center;
    z-index: 1;
    width: 120px;
    border: 1px solid grey;
    background-color: white;
    color: grey;
    padding: 10px 10px;
    display: none;
    position: relative;
}
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 12px;
}

/* Inserisco lo stile del main */
main {
    margin-top: 80px;
}

/* Inserisco lo stile del jumbotron */
/* Definisco la grandezza del jumbotron */
#jumbotron {
    height: 600px;
    width: 100%;
    background-color: #b4c8e1;
    position: relative;

}

/* Inserisco 3 contenitori, due dei quali saranno utili per evidenziare la linea bianca finale e uno per inserire il contenuto de jumbotron */

#jumbotron-left-container {
    width: 20%;
    height: 15%;
    background-color: white;
    position: absolute;
    top: calc(100% - 15%);
    left: 0%;
}

#jumbotron-container {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    z-index: 0;
}

#jumbotron-right-container {
    width: 20%;
    height: 15%;
    background-color: white;
    position: absolute;
    top: calc(100% - 15%);
    left: calc(100% - 20%);
}

/* Definisco lo stile del contenitore centrale del jumbotron */

#jumbotron-container h1 {
    font-size: 50px;
    font-weight: 800;
}


#jumbotron-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}


#jumbotron-text {
    width: 30%;
    height: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

#jumbotron-image {
    max-width: 600px;
    max-height: 100%;
    z-index: 200;
}

#jumbotron-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;

}

#jumbotron-arrow {
    font-size: 40px;
    margin: 10px 0;
}

#line-white {
    height: 15%;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}




/* Inserisco lo stile per le section contenute all'interno del main */

.main-container {
    width: 55%;
    height: auto;
    margin: 0 auto;
}

.main-container h2 {
    font-size: 28px;
    margin: 50px 0;
}

/* Inserisco lo stile per il form (Tipologia di fatturazione) */

.radio-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 70px;
}

/* Inserisco lo stile della seconda section (3 colonne) */

.container-choice {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: calc(100% - 90%)/2;
    margin-bottom: 50px;
}

.box {
    width: 30%;
    height: auto;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    padding-bottom: 50px;
    font-size: 13px;
}

.box-type {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

.box-text {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.line {
    height: 30px;
    width: 30%;
    border-bottom: 3px solid lightgrey;
}

.price{
    font-weight: 600;
}

.frequency {
    color: grey;
}

.fa-check {
    color: dodgerblue;
}

/* Inserisco lo stile per la terza section (Box Larga) */

.large-box {
    font-size: 13px;
    width: 100%;
    height: auto;
    border: 1px solid lightgrey;
    margin-bottom: 100px;
}

.large-box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 30px 0;
    font-size: 13px;
}



/* Inserisco lo stile della quarta section (Immagine + descrizione) */
.large-box-no-border {
    font-size: 13px;
    width: 100%;
    height: auto;
    margin-bottom: 130px;
}

.large-box-image {
    width: 2500px;
    height: 100%;
}

.large-box-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.box-text-no-border {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

/* Inserisco lo stile per la quinta section (Griglia cards) */
.large-box-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 13px;
}

.large-box-card {
    width: 29%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    font-size: 13px;
}

/* Inserisco lo stile per quinta section (Titolo + link) */
.large-box-no-border-meta {
    font-size: 13px;
    width: 60%;
    height: auto;
    margin-bottom: 130px;
}

/* Inserisco lo stile per la sesta section (Immagini Aziende) */
.fullscreen {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;

}

.fullscreen-box {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fullscreen-box-description {
    width: calc(100% - (100%/3*2));
    height: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    overflow: auto;
}

.fullscreen-box-description-image {
    width: 50%;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgrey;
}

.fullscreen-box-description img {
    max-width: 100%;
}

.fullscreen-box-img {
    width: calc(100%/2);
    height: calc(100%/2);
    position: relative;
}

.fullscreen-box-img img {
    filter: invert(100%);
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Inserisco le classi per i colori dei quadrati */
.red {
    background-color: red;
}

.crimson {
    background-color: crimson;
}

.skyblue {
    background-color: skyblue;
}

.darkred {
    background-color: darkred;
}

.lightgreen {
    background-color: lightgreen;
    border: 15px solid #ddfada ;
}

.aliceblue {
    background-color: aliceblue;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.deepskyblue {
    background-color: deepskyblue;
}

/* Inserisco lo stile per la parte adiacente sottostante */
.fullscreen-under {
    width: 100%;
    height: 300px;
    background-color: skyblue;
    margin-bottom: 50px;
}

.fullscreen-under-container {
    width: 55%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.fullscreen-under-title-container {
    width: 400px;
    height: auto;
    font-size: 20px;
    color: darkred;
}

/* Inserisco lo stile per l'ultima section (Domande frequenti) */
.ask {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.ask-box-title {
    font-size: 20px;
    color: black;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.ask-box {
    width: 100%;
    height: auto;
    font-size: 13px;
    padding: 30px 0;
    border-bottom: 1px solid grey;
}

.ask-box-display {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ask-box-explication {
    font-size: 15px;
    padding: 10px 0;
    display: none;
}

.ask-box:hover .ask-box-explication {
    opacity: 1;
    display: block;
    animation: fade-in 2s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* Inserisco lo stile del footer */

.footer-container {
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;

}

.footer-display {
    padding-top: 100px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.card-footer {
    color: white;
    font-size: 13px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 70px;
}

.space-footer {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
}