/* Regole generali della pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.blue-button{
    background-color:dodgerblue;
    color: white;
    padding: 7px 12px;
    text-align: center;
}

.grey-button{
    width: 50%;
    background-color:white;
    color: grey;
    border:1px solid grey;
    padding: 7px 0px;
    text-align: center;
}

.blue-button:hover {
    box-shadow: 5px 5px rgb(29, 112, 195);
    cursor: pointer;
}

.grey-button:hover {
    box-shadow: 5px 5px dimgrey;
    cursor: pointer;
}

ul a {
    text-decoration: none;
    color: dimgrey;
}

p{
    color:dimgrey;
}
/* Inserisco lo stile dell'header */

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 13px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    margin: 0 30px;
}

.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
}

.menu li:hover {
    cursor: pointer;
    padding: 20px 0;
    border-bottom: solid 3px black;
    transition: all 0.2s linear;
}

#droplogo{
    width: 100px;
    height: auto;
}


/* Inserisco lo stile del main */
main{
    margin-top: 80px;
}

/* Inserisco lo stile del jumbotron */
/* Definisco la grandezza del jumbotron */
#jumbotron{
    height: 600px;
    width: 100%;
    background-color:#b4c8e1; 
    position: relative;
    
}

/* Inserisco 3 contenitori, due dei quali saranno utili per evidenziare la linea bianca finale e uno per inserire il contenuto de jumbotron */

#jumbotron-left-container{
    width: 40%;
    height: 100px;
    background-color: white;
    position: absolute;
    top:calc(100% - 50px);
    left: 0%;
    transform: translate(-50%, -50%);
}
#jumbotron-container{
    width: 60%;
    height: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
}

#jumbotron-right-container{
    width: 40%;
    height: 100px;
    background-color: white;
    position: absolute;
    top:calc(100% - 50px);
    left: 100%;
    transform: translate(-50%, -50%);
}

/* Definisco lo stile del contenitore centrale del jumbotron */

#jumbotron-container h1{
    font-size: 50px;
    font-weight: 800;
}


#jumbotron-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;  
    margin-top: 30px;
}


#jumbotron-text{
    width: 30%; 
    height: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 20px; 
}

#jumbotron-image{
    width: 70%; 
    height: 110%;
    z-index: 200;
}

#jumbotron-image img{
    max-height: 150%;
    max-width: 100%;
    object-fit: cover;
    
}

#jumbotron-arrow{
    font-size: 40px;
    margin: 10px 0;
}

#line-white{
    height: 100px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}




/* Inserisco lo stile per le section contenute all'interno del main */

.main-container{
    width: 55%;
    height: auto;
    margin: 0 auto;
}

.main-container h2{
    font-size: 28px;
    margin: 50px 0;
}

/* Inserisco lo stile per il form */

.radio-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 70px;
}

/* Inserisco lo stile della seconda section */

.container-choice{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: calc(100% - 90%)/2;
    margin-bottom: 50px;
}

.box{
    width: 30%;
    height: auto;
    border: 1px solid lightgrey ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    padding-bottom: 50px;
    font-size: 13px;
}

.box-type{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

.box-text{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.line{
    height: 30px;
    width: 30%;
    border-bottom: 3px solid lightgrey;
}

.frequency{
    color: grey;
}

.fa-check{
    color: dodgerblue;
}

/* Inserisco lo stile per la terza section */

.large-box{
    font-size: 13px;
    width: 100%;
    height: auto;
    border: 1px solid lightgrey;
    margin-bottom: 100px;
}

.large-box-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 30px 0;
    font-size: 13px;
}



/* Inserisco lo stile della quarta section */
.large-box-no-border{
    font-size: 13px;
    width: 100%;
    height: auto;
    margin-bottom: 130px;
}

.large-box-image{
    width: 300%;
    height: 100%;
}

.large-box-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.box-text-no-border{
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

/* Inserisco lo stile per la quinta section */
.large-box-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 13px;
}

.large-box-card {
    width:29%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    font-size: 13px;
}

